{% extends 'index.html' %}

{% block contact %}
{% load staticfiles %}
<section id="mapSection">
<div id="myMap2" style="height:200px; background:url(https://img-fotki.yandex.ru/get/108497/358181535.0/0_19022b_e8bbc963_L) repeat;">

</div>	


</section>

<section id="bodySection"> 	
	<div class="container">					
	<div class="row" >
			<div class="span4">
			{% load i18n %}
			{% get_current_language as LANGUAGE_CODE %}
			{% get_available_languages as LANGUAGES %}

			{% for lang in langs %}
			{% language lang.language %}

			{% get_current_language as LANGUAGE_CODE %}

			<h3> {% trans "Mailing Address" %}  </h3>
				{% trans "AddressTxt" %} <br/>	<br/>{% trans "ContactTxt" %}
			</div>
			<div class="span4">
					<h3> {% trans "Opening Hours" %} </h3>
					<h5> {% trans "Monday" %}  -  {% trans "Friday" %}</h5>
					08:30 - 17:30pm<br/><br/>
					<h5>{% trans "Saturday" %} - {% trans "Sunday" %}</h5>
					{% trans "day off" %}<br/><br/>
			</div>
			<div class="span4">
				<h3>{% trans "Email Us" %}  </h3>
				<form class="form-horizontal">
				<fieldset>
				  <div class="control-group">
				      <span id="result" style="font-size: 12px; color: red;"></span>
					  <input type="text" placeholder="{% trans "name" %}" id="name" class="input-xlarge" required/>
				   
				  </div>
				   <div class="control-group">
				   
					  <input type="email" placeholder="{% trans "email" %}" id="email" class="input-xlarge"/>
				   
				  </div>
				   <div class="control-group">
				   
					  <input type="text" placeholder="{% trans "subject" %}" id="subject" class="input-xlarge"/>
				  
				  </div>
				  <div class="control-group">
					  <textarea rows="4" id="message" class="input-xlarge"></textarea>
				   
				  </div>

					<button class="btn btn-large" id="send" type="button"> <i class="icon-envelope"></i> {% trans "Send Message" %} </button>
			{% endlanguage %}
			{% endfor %}
				</fieldset>
			  </form>
			</div>
		</div>

		</div>
</section>

{% endblock %}