{% extends 'index.html' %}

{% block home %}
{% load staticfiles %}
<section id="middleSection">
<div class="container">
		<div class="row" >

		<div class="span8">
          <div class="slick_slider">
            <div class="single_iteam">
              <a href="single_page.html"> <img src="{% static 'sider/img/slider_img4.jpg' %}" alt="sider/img"></a>

            </div>
            <div class="single_iteam">
              <a href="single_page.html"> <img src="{% static 'sider/img/slider_img2.jpg' %}" alt="sider/img"></a>

            </div>
            <div class="single_iteam">
              <a href="single_page.html"> <img src="{% static 'sider/img/slider_img3.jpg' %}" alt="sider/img"></a>

            </div>
            <div class="single_iteam">
              <a href="single_page.html"> <img src="{% static 'sider/img/slider_img1.jpg' %}" alt="sider/img"></a>

            </div>
          </div>
        </div>

        <div class="span4">
			<div class="latest_post">
				<h2><span>
					{% load i18n %}
					{% get_current_language as LANGUAGE_CODE %}
					{% get_available_languages as LANGUAGES %}

					{% for lang in langs %}
					{% language lang.language %}

					{% get_current_language as LANGUAGE_CODE %}

					{% trans "LatestNews" %}
					{% endlanguage %}
					{% endfor %}
				</span></h2>

				<div class="latest_post_container">

					  <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
						  <ul class="latest_postnav">
							{% if news %}
								{% for new in news %}
								  <li>
									  <div class="media">
									<a href="/news/{{ new.id }}/" class="media-left">
										{% for key in photos %}
											{% if key.id = new.id %}
												<img alt="sider/img" src="{{ key.images.0 }}">
											{% endif %}
										{% endfor %}
									</a>
									<div class="media-body">
									  <a href="/news/{{ new.id }}/"> {{ new.title }} </a><br/><i style="font-size:10px; color: #7e7a7a; float:right;">{{ new.created|date:"c" }}</i>
									</div>
								  </div>
								  </li>
								{% endfor %}
						    {% endif %}
						  </ul>
					 <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
					</div>

				</div>





			</div>
        </div>

	</div>


</section>



<section id="sam">

	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="section_recent">
				
				<object id="flash_01" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="100%" height="120" id="technology" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="technology.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" /><embed src="{% static 'sider/technology_en.swf' %}" quality="high" bgcolor="#ffffff" width="950" height="120" name="technology" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
				</object>
				
				</div>
			</div>
			
			<div class="span3">
				<div class="">
					<a href="index.php?portfolio"><img src="{% static 'images/RESENT.png' %}" alt="bootstrap business templates"></a>
				</div>
				<div class="kvadrat">
					<h4> <span>design</span></h4>
					<h4> <span>seo</span></h4>
					<h4> <span>development</span></h4>
					<h4> <span>consulting</span></h4>
				</div>
			</div>
			<!-- EN version -->
			{% for language in languages %}
			{% if language.id == 1 %}
			<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4>SOFTWARE DEVELOPMENT</h4>
						<a href="/portfolio/"><img src="{% static 'images/soft.png' %}" alt="bootstrap business templates"></a>
						<h6>We build great software to meet your needs.</h6>
						<p class="pmain">
							Weʼve build custom websites
							POS and ERP systems and other line-of-business tools
							Whether your requirements include CRM, ERP, POS, inventory management a simple website or a blog, Global Technology Solutions can help.
						</p>
						<div class="read-main"><a href="/portfolio/" >Read more</a></div>
					</div>
				</div>
				<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4>IT SUPPORT</h4>
						<a href="/details/6/"><img src="{% static 'images/it-sup.png' %}" alt="bootstrap business templates"></a>
						<h6>Do you have a server that refuses to boot?</h6>
							<p class="pmain">
								Is your workstation unable to connect to the Internet?
								Do you need a backup or disaster recovery strategy?
								We solve smaller problems, too. Contact us to learn about our technical support packages for businesses of any size.
							</p>
						<div class="read-main"><a href="/details/6/">Read more</a></div>
					</div>
				</div>
				<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4>BUSINESS CONSULTING</h4>
						<a href="/details/7/"><img src="{% static 'images/busin.png' %}" alt="bootstrap business templates"></a>
						<h6>Get in touch with us today about improving your business</h6>
						<p class="pmain">
							Whether your problem is process development or information management, we have the expertise to solve it.
							Weʼre also hosting Central Asiaʼs only regional Logistics and Supply Chain Management Conference and Seminar
						</p>
						<div class="read-main"><a href="/details/7/">Read more</a></div>
					</div>
				</div>
<!--- ru version -->

			{% elif language.id == 2 %}


				<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4>РАЗРАБОТКА П.О.</h4>
						<a href="portfolio.html"><img src="{% static 'images/soft.png' %}" alt="bootstrap business templates"></a>
						<h6>Мы разрабатываем П.О. по вашему заданию.</h6>
						<p class="pmain"> Мы создаем веб-сайты, POS и ERP-системы и другие инструменты для бизнеса.
							Независимо от того, включают ли ваши требования к CRM, ERP, POS, управление запасами простой веб-сайт или блог, Global Technology Solutions поможет вам.
						</p>
						<div class="read-main">
							<a href="/portfolio/">Подробнее</a>
						</div>
					</div>
				</div>

				<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4>IT ПОДДЕРЖКА</h4>
							<a href="portfolio.html"><img src="{% static 'images/it-sup.png' %}" alt="bootstrap business templates"></a>
						<h6>У вас есть сервер, который не загружается?</h6>
							<p class="pmain">
								Ваш компьютер не может подключиться к Интернету? Вам необходима стратегия резервного копирования или восстановления после аварии?
								Мы решаем такие задачи тоже. Свяжитесь с нами, чтобы узнать о пакетах услуг технической поддержки для предприятий любого размера.
							</p>
						<div class="read-main"><a href="/details/28/">Подробнее</a></div>
					</div>
				</div>

				<div class="span3">
					<div class="thumbnail" id="main_zag">
						<h4 style="font-size: 13px;">БИЗНЕС-КОНСУЛЬТИРОВАНИЕ</h4>
						<a href="portfolio.html"><img src="{% static 'images/busin.png' %}" alt="bootstrap business templates"></a>
						<h6>Снами ваш бизнес будеть рости.</h6>
						<p class="pmain"> Если ваша компания замедляется в развитии мы можем проконсултироват
							по бизнесу, проектному менеджменту и логистике.Мы ускорим ваш бизнес.
						</p>
						<div class="read-main"><a href="/details/29/">Подробнее</a></div>
					</div>
				</div>


			{% endif %}
			{% endfor %}
			</div><br />
		</div>
	</div>
</section>

{% endblock %}
