{% extends 'index.html' %}

{% block service %}
{% load staticfiles %}
<!-- Page banner -->
<section id="bannerSection" style="background:url({% static 'images/banner/contact.png' %}) no-repeat center center #000;">
	<div class="container" >	
		<h1 id="pageTitle">
			{% load i18n %}
			{% get_current_language as LANGUAGE_CODE %}
			{% get_available_languages as LANGUAGES %}

			{% for lang in langs %}
			{% language lang.language %}

			{% get_current_language as LANGUAGE_CODE %}
			 {% trans "OurServices" %}<small>{% trans "TAKE OUR BEST SERVICE" %}</small>

			{% endlanguage %}
			{% endfor %}

		<span class="pull-right toolTipgroup">
			<a href="#" data-placement="top" data-original-title="Find us on via facebook"><img style="width:45px" src="{% static 'images/facebook.png' %}" alt="facebook" title="facebook"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via twitter"><img style="width:45px" src="{% static 'images/twitter.png' %}" alt="twitter" title="twitter"></a>
			<a href="#" data-placement="top" data-original-title="Find us on via youtube"><img style="width:45px" src="{% static 'images/youtube.png' %}" alt="youtube" title="youtube"></a>
		</span>
		</h1>
	</div>
</section> 
<!-- Page banner end -->
<section id="bodySection">		
	<div id="wrapper">
		<div class="container">
		{% if services %}
			{% autoescape off %}
			{% for service in services %}
				{{ service.full_text }}
			{% endfor %}
			{% endautoescape %}
		{% endif %}
		</div>
		
	</div>
</section>	

{% endblock %}
